.img-add-annonce{
	float: right;
}
.header-container{
	display: flex;
	justify-content: space-around;
}
.modifier{
	color: #722424;
	font-size: xx-large;
}
.annonces{
	color: #722424;
	font-size: xx-large;
}
.annonce{
	font-weight: bold;
	text-align: center;
}
.info-perso{
	background: burlywood;
	font-weight: bold;
	text-align: center;
}
.gestion-utilisateur{
	background: burlywood;
	padding: 45px;
	
}
.submit-utilisateur{
	background: burlywood;
}
.modification{
	
}